
<div>

    <div *ngIf="!emailSent">
        <p>Por favor ingrese su dirección de correo electrónico y le enviaremos un enlace para restablecer su contraseña.</p>
        <input type="email" placeholder="usuario@dominio.com" #passwordResetEmail required>
        <button 
            type="button"
            (click)="forgotPassword(passwordResetEmail.value)"
        >
            Enviar
        </button>
        
        <p>Regresar al <a [routerLink]="['/sign-in']">inicio</a></p>
    </div>

    <div *ngIf="emailSent">
        <h5>Hemos enviado un enlace de restablecimiento al correo {{ passwordResetEmail }}</h5>
        <p>
            Por favor revise su bandeja de entrada. Si no aparece en unos minutos el correo con el enlace, revisa la
            carpeta de correo no deseado (Spam).
        </p>
        <button type="button" (click)="goToLogin()">
            <span>&times;</span>
        </button>
    </div>

</div>
