<div class="container h-100">

    <div *ngIf="!emailSent" class="row h-100 justify-content-center">
        <div class="col-md-4 align-self-center">
            <p class="text-center">Please enter your email address and we'll send you a link to reset your password.</p>
            <div class="form-group">
                <input type="email" class="form-control" placeholder="user@domain.com" #passwordResetEmail required>
            </div>
            <div class="form-group">
                <button 
                 class="btn btn-success btn-block" 
                 type="button"
                 (click)="forgotPassword(passwordResetEmail.value)"
                >
                    Reset Password
                </button>
            </div>
            <p>Go back to <a [routerLink]="['/sign-in']" class="text-success">Log in</a></p>
            <div *ngIf="alertMessage" class="alert alert-danger fixed-bottom" role="alert">
                {{ alertMessage }}
            </div>
        </div>
    </div>

    <div *ngIf="emailSent" class="row h-100 justify-content-center">
        <div class="col-md-8 align-self-center">
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                <h5 class="alert-heading" >We sent a password reset email to {{ passwordResetEmail }}</h5>
                <p>
                    Please check your email for a link to reset your password. If it doesn't appear whitin
                    a few minutes, check your spam folder.
                </p>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close" (click)="goToLogin()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        </div>
    </div>

</div>