<mat-progress-bar mode="indeterminate" color="warn" *ngIf="isLoadingData"></mat-progress-bar>
<ng-container class="router-outlet-container">
    <ol>
        <li>Pedido</li>
        <li>Pedido</li>
        <li>Pedido</li>
        <li>Pedido</li>
        <li>Pedido</li>
        <li>Pedido</li>
        <li>Pedido</li>
        <li>Pedido</li>
        <li>Pedido</li>
        <li>Pedido</li>
        <li>Pedido</li>
        <li>Pedido</li>
        <li>Pedido</li>
        <li>Pedido</li>
        <li>Pedido</li>
        <li>Pedido</li>
        <li>Pedido</li>
        <li>Pedido</li>
        <li>Pedido</li>
        <li>Pedido</li>
        <li>Pedido</li>
        <li>Pedido</li>
        <li>Pedido</li>
        <li>Pedido</li>
        <li>Pedido</li>
        <li>Pedido</li>
        <li>Pedido</li>
        <li>Pedido</li>
        <li>Pedido</li>
        <li>Pedido</li>
        <li>Pedido</li>
        <li>Pedido</li>
        <li>Pedido</li>
        <li>Pedido</li>
        <li>Pedido</li>
        <li>Pedido</li>
        <li>Pedido</li>
        <li>Pedido</li>
        <li>Pedido</li>
        <li>Pedido</li>
        <li>Pedido</li>
        <li>Pedido</li>
        <li>Pedido</li>
        <li>Pedido</li>
        <li>Pedido</li>
        <li>Pedido</li>
        <li>Pedido</li>
        <li>Pedido</li>
        <li>Pedido</li>
        <li>Pedido</li>
        <li>Pedido</li>
        <li>Pedido</li>
        <li>Pedido</li>
        <li>Pedido</li>
        <li>Pedido</li>
        <li>Pedido</li>
        <li>Pedido</li>
        <li>Pedido</li>
        <li>Pedido</li>
        <li>Pedido</li>
        <li>Pedido</li>
        <li>Pedido</li>
        <li>Pedido</li>
        <li>Pedido</li>
        <li>Pedido</li>
        <li>Pedido</li>
        <li>Pedido</li>
        <li>Pedido</li>
        <li>Pedido</li>
        <li>Pedido</li>
        <li>Pedido</li>
        <li>Pedido</li>
        <li>Pedido</li>
        <li>Pedido</li>
        <li>Pedido</li>
        <li>Pedido</li>
        <li>Pedido</li>
        <li>Pedido</li>
        <li>Pedido</li>
        <li>Pedido</li>
        <li>Pedido</li>
        <li>Pedido</li>
        <li>Pedido</li>
        <li>Pedido</li>
        <li>Pedido</li>
        <li>Pedido</li>
        <li>Pedido</li>
        <li>Pedido</li>
        <li>Pedido</li>
        <li>Pedido</li>
        <li>Pedido</li>
        <li>Pedido</li>
        <li>Pedido</li>
        <li>Pedido</li>
        <li>Pedido</li>
        <li>Pedido</li>
        <li>Pedido</li>
        <li>Pedido</li>
        <li>Pedido</li>
        <li>Pedido</li>
    </ol>
</ng-container>
