<div cdkTrapFocus [cdkTrapFocusAutoCapture]="true">
   <h2>{{ reseller ? 'Actualizar datos del Mayorista' : 'Nuevo Mayorista' }}</h2>

   <div class="input-container">
      <mat-form-field appearance="outline">
         <mat-label>Nombre</mat-label>
         <input
         matInput
         type="text"
         [formControl]="firstNameFormControl"
         >
      </mat-form-field>
   </div>

   <div class="input-container">
      <mat-form-field appearance="outline">
         <mat-label>Apellidos</mat-label>
         <input
          matInput
          type="text"
          [formControl]="lastNameFormControl"
         >
      </mat-form-field>
   </div>

   <div class="address-container">
      <div class="input-container">
         <mat-form-field appearance="outline">
            <mat-label>Estado</mat-label>
            <input
             matInput
             type="text"
             [formControl]="stateFormControl"
            >
         </mat-form-field>
      </div>
      <div class="input-container">
         <mat-form-field appearance="outline">
            <mat-label>Ciudad</mat-label>
            <input
             matInput
             type="text"
             [formControl]="cityFormControl"
            >
         </mat-form-field>
      </div>
   </div>

   <div class="address-container">
      <div class="input-container">
         <mat-form-field appearance="outline">
            <mat-label>Colonia</mat-label>
            <input
             matInput
             type="text"
             [formControl]="suburbFormControl"
            >
         </mat-form-field>
      </div>
      <div class="input-container">
         <mat-form-field appearance="outline">
            <mat-label>Calle</mat-label>
            <input
             matInput
             type="text"
             [formControl]="streetFormControl"
            >
         </mat-form-field>
      </div>
   </div>

   <div class="address-container">
      <div class="input-container">
         <mat-form-field appearance="outline">
            <mat-label>Número Exterior</mat-label>
            <input
             matInput
             type="number"
             [formControl]="extNumberFormControl"
            >
         </mat-form-field>
      </div>
      <div class="input-container">
         <mat-form-field appearance="outline">
            <mat-label>Número Interior</mat-label>
            <input
             matInput
             type="text"
             [formControl]="intNumberFormControl"
            >
         </mat-form-field>
      </div>
   </div>

   <div id="cellphone-container">
      <div class="input-container cellphone">
         <mat-form-field appearance="outline">
            <mat-label>Celular</mat-label>
            <input
              matInput
              type="text"
              [formControl]="cellphoneSegment1FormControl"
              maxlength="3"
              #phoneSegment1HtmlInput
              (keyup)="phoneSegment1HtmlInput.value.length==3 ? focusNextHtmlInput(phoneSegment2HtmlInput) : null"
            >
            <mat-hint align="end">{{ phoneSegment1HtmlInput.value.length }} / 3</mat-hint>
         </mat-form-field>
      </div>
      <div class="input-container cellphone">
         <mat-form-field appearance="outline">
            <input
             matInput
             type="text"
             [formControl]="cellphoneSegment2FormControl"
             maxlength="3"
             #phoneSegment2HtmlInput
             (keyup)="phoneSegment2HtmlInput.value.length==3 ? focusNextHtmlInput(phoneSegment3HtmlInput) : null"
            >
            <mat-hint align="end">{{ phoneSegment2HtmlInput.value.length }} / 3</mat-hint>
         </mat-form-field>
      </div>
      <div class="input-container cellphone">
         <mat-form-field appearance="outline">
            <input
             matInput
             type="text"
             [formControl]="cellphoneSegment3FormControl"
             maxlength="4"
             #phoneSegment3HtmlInput
            >
            <mat-hint align="end">{{ phoneSegment3HtmlInput.value.length }} / 4</mat-hint>
         </mat-form-field>
      </div>
   </div>

   <div class="input-container">
      <mat-form-field appearance="outline">
         <mat-label>Correo Electrónico</mat-label>
         <input
         matInput
         type="email"
         [formControl]="emailFormControl"
         >
      </mat-form-field>
   </div>

   <div class="input-container" *ngIf="!reseller">
      <button
       mat-raised-button
       color="primary"
       [disabled]="isAddFormInvalid"
       #addHtmlButton
       (click)="addHtmlButton.disabled=true; saveReseller(null)"
      >
         Agregar
      </button>
   </div>
   <div class="input-container" *ngIf="reseller">
      <button
       mat-raised-button
       color="primary"
       [disabled]="isUpdateFormInvalid || isAddFormInvalid"
       #updateHtmlButton
       (click)="updateHtmlButton.disabled=true; saveReseller(reseller.id)"
      >
         Actualizar
      </button>
   </div>

</div>
