div#cellphone-container {
   display: flex;
   justify-content: flex-start;
}

div#cellphone-container div.input-container {
   margin: 0 0.5rem 1rem 0;
   width: 70px;
}

div#cellphone-container div.input-container input {
   font-weight: bold;
}

div.address-container {
   display: flex;
   justify-content: space-between;
}

div.address-container div.input-container {
   margin: 0 0.25rem 0 0.25rem;
   width: 48%;
}
