.input-container {
    display: flex;
    flex-direction: column;
}

.mat-card.login {
    border: 1px solid #e1e1e1;
    margin: 0 auto;
    max-width: 320px;
}

.mat-card.login img#logo {
    display: block;
    margin: 2rem auto;
    width: 250px;
}
