<div class="container h-100">
    <div class="row h-100 justify-content-center">
        <div class="col-md-4 align-self-center">
            <h3>Sign in to your account</h3>
            <form>
                <div class="form-group input-group">
                    <input type="email" class="form-control" placeholder="Email" #userEmail required>
                </div>

                <div class="form-group input-group">
                    <input type="password" class="form-control" placeholder="Password" #userPassword required>
                    <div class="input-group-append">
                        <span class="input-group-text"><a [routerLink]="['/forgot-password']"><small>FORGOT</small></a></span>
                    </div>
                </div>

                <div class="form-group">
                    <button 
                     type="button"
                     class="btn btn-primary btn-block btn-lg"
                     (click)="signIn(userEmail.value, userPassword.value)"
                    >
                        Log In
                    </button>
                </div>

                <p>Don't have an account? <a [routerLink]="['/register-user']">Sign up</a></p>

                <div class="dropdown-divider"></div>

                <div class="form-group mt-5">
                    <button 
                     type="button"
                     class="btn btn-secondary btn-block btn-lg"
                     (click)="googleAuth()"
                    >
                        Log in with <strong>Google</strong>
                    </button>
                </div>

                <div class="form-group">
                    <button
                     type="button"
                     class="btn btn-secondary btn-block btn-lg"
                     (click)="microsoftAuth()"
                    >
                        Log in with <strong>Microsoft</strong>
                    </button>
                </div>

            </form>
            <div *ngIf="alertMessage" class="alert alert-danger fixed-bottom" role="alert">
                {{ alertMessage }}
            </div>
        </div>
    </div>
</div>

