<div cdkTrapFocus [cdkTrapFocusAutoCapture]="true">
  <h2>Nuevo pedido</h2>

  <div class="input-container">
    <mat-form-field appearance="fill">
      <mat-label>Marca</mat-label>
      <mat-select
       [formControl]="brandFormControl"
       #Brand
       (selectionChange)="loadProducts(Brand.value)"
      >
        <mat-option *ngFor="let brand of brands" [value]="brand.name">{{brand.name}}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div class="input-container">
    <mat-form-field appearance="fill">
      <mat-label>Artículo</mat-label>
      <mat-select
       [formControl]="productFormControl"
       [disabled]="brandFormControl.valid ? false : true"
       #Product
      >
        <mat-option *ngFor="let product of products" [value]="product">{{product.name}}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <p>
    <mat-form-field id="amount" appearance="outline">
      <mat-label>Cantidad</mat-label>
      <input
       matInput
       type="number"
       [formControl]="amountFormControl"
       #Amount
       min="1"
       max="100"
      >
      <span matSuffix>&nbsp;&nbsp;pzas.</span>
    </mat-form-field>
  </p>

  <div class="input-container">
    <mat-form-field appearance="fill">
      <mat-label>Mayorista</mat-label>
      <mat-select [formControl]="resellerFormControl" #Reseller>
        <mat-option *ngFor="let reseller of resellers" [value]="reseller">
          {{ reseller.firstName }} {{ reseller.lastNameF }} {{ reseller.lastNameM }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div class="input-container">
    <button
     mat-raised-button
     color="primary"
     [disabled] = "
       brandFormControl.value &&
       productFormControl.valid &&
       amountFormControl.valid &&
       resellerFormControl.valid
       ? false : true"
     #addButton
     (click)="addButton.disabled = true; saveOrder(Reseller.value, Product.value, Brand.value, Amount.value)"
    >
      Agregar
    </button>
  </div>

</div>
