/*
- Sidenav
- Toolbar
*/

/* Sidenav */
div#nav-header {
    background-color: #ba007c;
    height: 150px;
}

div#nav-header mat-card {
    background-color: #ba007c;
    box-shadow: none;
}

div#nav-header mat-card-title, div#nav-header mat-card-subtitle {
    color: #ffffff;
}

.header-image {
    background-size: cover;
}

/* Toolbar */
button:focus {
    outline: none;
}

.spacer {
    flex: 1 1 auto;
}
