<mat-drawer-container autosize>

    <!-- Toolbar -->
    <mat-toolbar id="main">
        <button mat-icon-button (click)="drawer.toggle()">
            <mat-icon>menu</mat-icon>
        </button>
        <span>Blancos BAMBÚ</span>

        <span class="spacer"></span>

        <button mat-icon-button [matMenuTriggerFor]="menu">
            <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
            <button mat-menu-item id="install-app">
              <mat-icon>get_app</mat-icon>
              <span>Instalar Blancos BAMBÚ...</span>
            </button>
            <mat-divider></mat-divider>
            <button mat-menu-item disabled>
              <mat-icon>voicemail</mat-icon>
              <span>Check voice mail</span>
            </button>
            <button mat-menu-item>
              <mat-icon>notifications_off</mat-icon>
              <span>Disable alerts</span>
            </button>
        </mat-menu>

    </mat-toolbar>

    <!-- Sidebar -->
    <mat-drawer #drawer mode="side">
        <div id="nav-header" *ngIf="authService.userData as user">
            <mat-card>
                <mat-card-header>
                  <div mat-card-avatar class="header-image" [ngStyle]="{'background-image': profilePicture}"></div>
                  <mat-card-title>{{ 'Usuario' || user.displayName }}</mat-card-title>
                  <mat-card-subtitle>{{ user.email }}</mat-card-subtitle>
                </mat-card-header>
              </mat-card>
        </div>
        <mat-list>
            <mat-list-item>
                <button mat-menu-item routerLink="/logged-in/dashboard">
                    <mat-icon>dashboard</mat-icon>
                    <span>Tablero</span>
                </button>
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item>
                <button mat-menu-item routerLink="/logged-in/orders">
                    <mat-icon>shopping_cart</mat-icon>
                    <span>Administrar Pedidos</span>
                </button>
            </mat-list-item>
            <mat-list-item>
                <button mat-menu-item routerLink="/logged-in/products">
                    <mat-icon>bed</mat-icon>
                    <span>Productos</span>
                </button>
            </mat-list-item>
            <mat-list-item>
                <button mat-menu-item disabled>
                    <mat-icon>people</mat-icon>
                    <span>Mayoristas</span>
                </button>
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item>
                <button mat-menu-item (click)="openExitDialog()">
                    <mat-icon>exit_to_app</mat-icon>
                    <span>Salir</span>
                </button>
            </mat-list-item>
        </mat-list>
    </mat-drawer>

    <!-- Content -->
    <router-outlet></router-outlet>

</mat-drawer-container>