<div>

    <h5>¡Gracias por registrarse!</h5>

    <div *ngIf="authService.userData as user">
        <p>
            Hemos enviado un mensaje de confirmación a <strong>{{ user.email }}</strong>.
            Por favor revise su bandeja de entrada, o la carpeta de correo no deseado (Spam) y haga clic en el
            enlace para verificar su dirección de correo electrónico.
        </p>
        <p>
            Si no ha recibido este enlace de verificación, puede enviar otro correo de confirmación nuevamente.
        </p>
        
        <button
            type="button"
            (click)="sendVerificationEmail()"
            [disabled] = "this.resendButtonDisabled"
        >
            Reenviar verificación
        </button>
       
        <button 
            type="button"
            (click)="authService.signOut()"
        >
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

</div>
