<h2 mat-dialog-title>{{ data.productName }}</h2>

<mat-dialog-content class="mat-typography">
    <p>
        Se registrará la entrega del pedido a <strong>{{ data.resellerDisplayName }}</strong>.
        <br>
        ( Cantidad: {{ data.isInStore }} de {{ data.amount }} )
    </p>
    <p *ngIf="data.amount === data.isInStore">
        Si desea continuar presione el botón Aceptar.
    </p>
    <p *ngIf="data.amount !== data.isInStore">
        Esta es una entrega parcial del pedido, del cual quedaría {{ data.amount - data.isInStore }} pieza(s) pendiente(s).
        <br>
        ¿Desea conservar el resto del pedido para una entrega posterior?
    </p>
</mat-dialog-content>

<mat-dialog-actions align="end">
    <button mat-button [mat-dialog-close]="'KEEP_ORDER'" *ngIf="data.amount !== data.isInStore">SI</button>
    <button mat-button [mat-dialog-close]="'COMPLETE_ORDER'" *ngIf="data.amount !== data.isInStore">NO</button>
    <button mat-button [mat-dialog-close]="'COMPLETE_ORDER'" *ngIf="data.amount === data.isInStore">Aceptar</button>
    <button mat-button mat-dialog-close cdkFocusInitial>Cancelar</button>
</mat-dialog-actions>
