<h2 mat-dialog-title>{{ order.productName }}</h2>

<mat-dialog-content class="mat-typography">
    <p>
        Se registrará la entrega del pedido a <strong>{{ order.resellerDisplayName }}</strong>.
        <br>
        ( Cantidad: {{ order.isInStore }} de {{ order.amount }} )
    </p>
    <p *ngIf="order.amount === order.isInStore">
        Si desea continuar presione el botón Aceptar.
    </p>
    <p *ngIf="order.amount !== order.isInStore">
        Esta es una entrega parcial del pedido, del cual quedaría {{ order.amount - order.isInStore }} pieza(s) pendiente(s).
        <br>
        ¿Desea conservar el resto del pedido para una entrega posterior?
    </p>
</mat-dialog-content>

<mat-dialog-actions align="end">
    <button mat-button [mat-dialog-close]="'KEEP_ORDER'" *ngIf="order.amount !== order.isInStore">SI</button>
    <button mat-button [mat-dialog-close]="'COMPLETE_ORDER'" *ngIf="order.amount !== order.isInStore">NO</button>
    <button mat-button [mat-dialog-close]="'COMPLETE_ORDER'" *ngIf="order.amount === order.isInStore">Aceptar</button>
    <button mat-button mat-dialog-close cdkFocusInitial>Cancelar</button>
</mat-dialog-actions>
