<mat-progress-bar mode="indeterminate" color="warn" *ngIf="isLoadingData"></mat-progress-bar>

<div id="orders">

    <mat-form-field id="filter">
        <mat-label>
            <mat-icon>search</mat-icon>
        </mat-label>
        <input
         matInput
         #search
         id="search"
         placeholder="Filtrar por mayorista, artículo o marca"
         (keyup)="applyFilter($event)"
        >
    </mat-form-field>
    
    <table 
     mat-table
     matSort
     multiTemplateDataRows
     [dataSource]="dataSource"
     class="mat-elevation-z8"
    >

        <ng-container matColumnDef="unfoldIcon">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let element">
                <mat-icon
                 (click)="expandedElement = expandedElement === element ? null : element"
                >
                    unfold_more
                </mat-icon>
            </td>
        </ng-container>

        <ng-container matColumnDef="registerDate">
            <th mat-header-cell mat-sort-header *matHeaderCellDef>Fecha</th>
            <td mat-cell *matCellDef="let element">
                {{ element.registerDate | date: 'd/M/yyyy, h:mm a' }}
            </td>
        </ng-container>

        <ng-container matColumnDef="resellerDisplayName">
            <th mat-header-cell mat-sort-header *matHeaderCellDef>Mayorista</th>
            <td mat-cell *matCellDef="let element"> {{ element.resellerDisplayName }} </td>
        </ng-container>

        <ng-container matColumnDef="productName">
            <th mat-header-cell mat-sort-header *matHeaderCellDef>Artículo</th>
            <td mat-cell *matCellDef="let element"> {{ element.productName }} </td>
          </ng-container>
  
        <ng-container matColumnDef="productBrand">
            <th mat-header-cell mat-sort-header *matHeaderCellDef>Marca</th>
            <td mat-cell *matCellDef="let element"> {{ element.productBrand }} </td>
        </ng-container>

        <ng-container matColumnDef="amount">
            <th mat-header-cell mat-sort-header *matHeaderCellDef>Cantidad</th>
            <td mat-cell *matCellDef="let element"> {{ element.amount }} </td>
        </ng-container>

        <ng-container matColumnDef="isInStore">
            <th mat-header-cell mat-sort-header *matHeaderCellDef>En tienda</th>
            <td mat-cell *matCellDef="let element">
                <mat-form-field id="is-in-store" appearance="outline">
                    <input
                     matInput 
                     type="number"
                     min="0" 
                     max="{{element.amount}}"
                     [formControl]="element.form.isInStoreFormControl"
                     #isInStore
                    >
                </mat-form-field>
                &nbsp;
                <mat-icon
                 *ngIf="element.isInStore != isInStore.value && element.form.isInStoreFormControl.valid"
                 color="primary"
                 (click)="updateIsInStoreProperty(element, +isInStore.value)"
                >
                    save
                </mat-icon>
            </td>
        </ng-container>

        <ng-container matColumnDef="deliveryButton">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let element">
                <button 
                 mat-mini-fab
                 color="primary" 
                 [disabled]="
                    !element.form.isInStoreFormControl.valid
                    || element.form.isInStoreFormControl.value == 0
                    || element.form.isInStoreFormControl.value != element.isInStore
                    || element.form.commentsFormControl.value != element.comments
                    ? true
                    : false"
                 (click)="openOrderDeliveryDialog(element)"
                >
                    <mat-icon>local_shipping</mat-icon>
                </button>
            </td>
        </ng-container>
      
        <ng-container matColumnDef="expandedDetail">
            <td mat-cell *matCellDef="let element" [attr.colspan]="tableColumns.length">
                <div 
                 class="element-detail"
                 [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'"
                >
                    <div class="element-description">
                        <mat-form-field id="comments" appearance="outline">
                            <mat-label>Observaciones</mat-label>
                            <textarea 
                             matInput
                             [formControl]="element.form.commentsFormControl"
                             #comments
                            >    
                            </textarea>
                            <ng-container
                             *ngIf="
                             element.comments != comments.value
                             && element.form.commentsFormControl.valid"
                            >
                                <mat-icon 
                                 color="primary"
                                 
                                >
                                    save
                                </mat-icon>
                                <mat-icon
                                *ngIf="element.comments != ''"
                                color="primary"
                                 (click)="comments.value = element.comments;"
                                >
                                    undo
                                </mat-icon>
                                <mat-icon
                                 color="primary"
                                 (click)="comments.value = ''"
                                >
                                    clear
                                </mat-icon>
                            </ng-container>
                            <ng-container>
                                <mat-error *ngIf="!element.form.commentsFormControl.valid">
                                   <small>El contenido de este campo supera los {{ COMMENTS_MAXLENGTH }} caracteres.</small> 
                                </mat-error>
                            </ng-container>
                        </mat-form-field>
                    </div>
                </div>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="tableColumns"></tr>

        <tr mat-row *matRowDef="let element; columns: tableColumns;"
         class="element-row"
         [class.expanded-row]="expandedElement === element"
        >
        </tr>

        <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="detail-row"></tr>
    </table>

</div>
