button.mat-mini-fab {
    margin-right: 1rem;
}

div#orders {
    background-color: #fcf2f7;
}

/* MatTable */
table.mat-table {
    width: 100%;
}

td mat-icon {
    cursor: pointer;
}

th.mat-sort-header {
    font-size: 1rem;
}

tr:hover {
    background-color: #f5f5f5;
}

tr.mat-row, tr.mat-header-row {
    height: 65px;
}

mat-form-field#filter {
  width: 100%;
  font-size: 1.5rem;
  padding: 0.5rem 3.2rem 0;
  background-color: whitesmoke;
  font-weight: 500;
}

mat-form-field#is-in-store {
    width: 60px;
}

mat-form-field#is-in-store input {
    font-size: 1.3rem;
}

/* Expandable Rows */
td.cdk-column-expandedDetail:hover {
  background-color: white;
}

tr.detail-row {
  height: 0;
}

tr.element-row:not(.expanded-row):hover {
  background: whitesmoke;
}

tr.element-row:not(.expanded-row):active {
  background: #efefef;
}

.element-description {
  padding: 16px;
  height: 200px;
}

.element-detail {
  overflow: hidden;
  display: flex;
}

.element-row td {
  border-bottom-width: 0;
}
