<mat-progress-bar mode="indeterminate" color="warn" *ngIf="isLoadingData"></mat-progress-bar>

<div id="orders" class="page">

    <mat-toolbar class="secondary-toolbar">
        <button mat-button disabled>
            <mat-icon>shopping_cart</mat-icon>
            <strong>Administrar Pedidos</strong>
        </button>
        <span class="spacer"></span>
        <button
         mat-stroked-button
         color="primary"
         [disabled]="!(someOrdersSelected() || areAllOrdersSelected)"
         (click)="openExportToPdfDialog()"
        >
            <mat-icon>picture_as_pdf</mat-icon>
            Exportar PDF
        </button>
        <button
         mat-stroked-button
         color="primary"
         (click)="openDeliveredOrdersDialog()"
        >
            Ver entregados
        </button>
    </mat-toolbar>

    <mat-form-field id="filter">
        <mat-label>
            <mat-icon>search</mat-icon>
        </mat-label>
        <input
         matInput
         #Filter
         placeholder="Filtrar por mayorista, artículo o marca"
         (keyup)="applyFilter($event)"
        >
        <button
         *ngIf="Filter.value"
         matSuffix
         mat-icon-button
         (click)="Filter.value = ''; dataSource.filter = Filter.value;"
        >
            <mat-icon>close</mat-icon>
        </button>
    </mat-form-field>

    <table
     mat-table
     matSort
     multiTemplateDataRows
     [dataSource]="dataSource"
     class="mat-elevation-z8"
    >

        <ng-container matColumnDef="unfoldIcon">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let order">
                <button mat-icon-button
                 (click)="expandedElement = expandedElement === order ? null : order"
                >
                    <mat-icon>unfold_more</mat-icon>
                </button>
                &nbsp;
                <mat-icon
                 class="default-cursor"
                 color="accent"
                 *ngIf="order.comments"
                >
                    comment
                </mat-icon>
            </td>
        </ng-container>

        <ng-container matColumnDef="registerDate">
            <th mat-header-cell mat-sort-header *matHeaderCellDef>Fecha</th>
            <td mat-cell *matCellDef="let order">
                {{ order.registerDate | date: 'd/M/yyyy, h:mm a' }}
            </td>
        </ng-container>

        <ng-container matColumnDef="resellerDisplayName">
            <th mat-header-cell mat-sort-header *matHeaderCellDef>Mayorista</th>
            <td mat-cell *matCellDef="let order"> {{ order.resellerDisplayName }} </td>
        </ng-container>

        <ng-container matColumnDef="productName">
            <th mat-header-cell mat-sort-header *matHeaderCellDef>Artículo</th>
            <td mat-cell *matCellDef="let order">{{ order.productName }}</td>
          </ng-container>

        <ng-container matColumnDef="productBrand">
            <th mat-header-cell mat-sort-header *matHeaderCellDef>Marca</th>
            <td mat-cell *matCellDef="let order"> {{ order.productBrand }} </td>
        </ng-container>

        <ng-container matColumnDef="amount">
            <th mat-header-cell mat-sort-header *matHeaderCellDef>Cantidad</th>
            <td mat-cell *matCellDef="let order" class="text-center"> {{ order.amount }} </td>
        </ng-container>

        <ng-container matColumnDef="isInStore">
            <th mat-header-cell mat-sort-header *matHeaderCellDef>En tienda</th>
            <td mat-cell *matCellDef="let order">
                <mat-form-field id="is-in-store" appearance="outline">
                    <input
                     matInput
                     type="number"
                     min="0"
                     max="{{ order.amount }}"
                     [formControl]="order.form.isInStoreFormControl"
                     #IsInStore
                    >
                </mat-form-field>
                &nbsp;
                <button mat-icon-button
                 *ngIf="order.isInStore != IsInStore.value && order.form.isInStoreFormControl.valid"
                 color="primary"
                 (click)="updateIsInStoreProperty(order, +IsInStore.value)"
                >
                    <mat-icon>save</mat-icon>
                </button>
            </td>
        </ng-container>

        <ng-container matColumnDef="deliveryButton">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let order">
                <button
                 mat-mini-fab
                 color="primary"
                 [disabled]="
                    !order.form.isInStoreFormControl.valid
                    || order.form.isInStoreFormControl.value == 0
                    || order.form.isInStoreFormControl.value != order.isInStore
                    || order.form.commentsFormControl.value != order.comments
                    ? true
                    : false"
                 (click)="openOrderDeliveryDialog(order)"
                >
                    <mat-icon>local_shipping</mat-icon>
                </button>
            </td>
        </ng-container>

        <ng-container matColumnDef="selectedCheckbox">
            <th mat-header-cell *matHeaderCellDef>
                <mat-checkbox
                 class="order-selected"
                 color="primary"
                 [checked]="areAllOrdersSelected"
                 [indeterminate]="someOrdersSelected()"
                 (change)="selectAllOrders($event.checked)"
                >
                    Seleccionar
                </mat-checkbox>
            </th>
            <td>
                <mat-cell *matCellDef="let order">
                    <mat-checkbox
                     class="order-selected"
                     color="primary"
                     [formControl]="order.form.selectedOrderFormControl"
                     [checked]="order.form.selectedOrderFormControl.value"
                     (change)="updateAllSelectedOrders()"
                    ></mat-checkbox>
                </mat-cell>
            </td>
        </ng-container>

        <ng-container matColumnDef="expandedDetail">
            <td mat-cell *matCellDef="let order" [attr.colspan]="tableColumns.length">
                <div
                 class="element-detail"
                 [@detailExpand]="order == expandedElement ? 'expanded' : 'collapsed'"
                >
                    <div class="element-description">
                        <mat-form-field id="comments" appearance="outline">
                            <mat-label>Observaciones</mat-label>
                            <textarea
                             matInput
                             [formControl]="order.form.commentsFormControl"
                             #Comments
                            >
                            </textarea>
                            <ng-container *ngIf="order.comments != Comments.value && order.form.commentsFormControl.valid">
                                <mat-toolbar>
                                    <button mat-icon-button
                                     color="primary"
                                     (click)="updateCommentsProperty(order, Comments.value)"
                                    >
                                        <mat-icon>save</mat-icon>
                                    </button>
                                    <span class="spacer"></span>
                                    <button mat-icon-button
                                     *ngIf="order.comments != ''"
                                     color="primary"
                                     (click)="changeTextAreaValue(Comments, order, order.comments)"
                                    >
                                        <mat-icon>undo</mat-icon>
                                    </button>
                                    <button mat-icon-button
                                     color="primary"
                                     (click)="changeTextAreaValue(Comments, order, '')"
                                    >
                                        <mat-icon>clear</mat-icon>
                                    </button>
                                </mat-toolbar>
                            </ng-container>
                            <ng-container>
                                <mat-error *ngIf="!order.form.commentsFormControl.valid">
                                   <small>El contenido de este campo supera los {{ COMMENTS_MAXLENGTH }} caracteres.</small>
                                </mat-error>
                            </ng-container>
                        </mat-form-field>
                        <button
                         mat-raised-button
                         color="warn"
                         (click)="openCancelOrderDialog(order)"
                        >
                            Cancelar pedido
                        </button>
                    </div>
                </div>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="tableColumns"></tr>

        <tr
         mat-row *matRowDef="let row; columns: tableColumns;"
         class="element-row"
         [class.expanded-row]="expandedElement === row"
        >
        </tr>

        <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="detail-row"></tr>
    </table>

    <button mat-fab color="primary" (click)="openAddResellerSheet()">
        <mat-icon>add_shopping_cart</mat-icon>
    </button>

</div>
