/* MatTable */
table.mat-table {
  width: 100%;
}

th.mat-header-cell {
  font-size: 1rem;
}

mat-tab-group {
   height: 65vh;
}

div#reseller-info-tab {
  margin: 2rem 0 0 0;
}

div#reseller-info-tab p {
  margin: 0;
}
