/* MatTable */
table.mat-table {
  width: 100%;
}

th.mat-header-cell {
  font-size: 1rem;
}

div.tab-info {
  align-items: center;
  display: flex;
  height: 65vh;
  justify-content: center;
}

div#reseller-info-tab {
  margin: 2rem 0 0 0;
}

div#reseller-info-tab p {
  margin: 0;
}

mat-tab-group {
  height: 59vh;
}
